body{
font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Suez One', serif;
}

header{
  height: 100vh;
  position: relative;
}

header .principal{
  background: url(../images/bg1.jpg);
  background-size: cover;
  filter: blur(1px);
  height: 100%;
}

header #particles-js{
  height: 100%;
}

p{
  font-size: 18px;
}

section{
  padding: 2em 0;
}

#appService, #webService, #supportService{
  display: flex;
}

#appService .bg-list{
  background: url(../images/apps.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5em 0 ;
}

#axolotl{
  position: absolute;
  /*right: 0;*/
  width: 50px; height: 100px;  left: 5;
  bottom: 1;
  transition: all .15s ease;
}

#webService .bg-list{
  background: url(../images/www.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5em 0;
  position: relative;
}

.logo{
  width: 256px;
  height: auto;
  margin-left: 20%;
  margin-top:-10px;
  transition: all .1s ease-in-out;
}
.navbar{
  height: 50px;
  font-size: 20px;
  background:transparent;
  border-color: transparent;
  transition: all .2s ease-in-out;
}
.navbar-header{
    height: 70px;
  }
.textomenu{
  color: #000 !important;
}
.textomenu:hover{
  color:white !important;
  /*border-bottom: 1px solid black;*/
  /*border-right: 1px solid black;*/
  border-bottom-right-radius: 5px;
}
#axolotl .navbar-brand{
  color: white;
  width: 50px; height: 60px;  left: 5;
  font-size: 38px;
  font-weight: 600;
}

#webService .bg-list::before,
#supportService .bg-list::before{
  border-top: 125px solid transparent;
  border-bottom: 125px solid transparent;
  border-left: 50px solid white;
  content: "";
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}
#appService .bg-list::before{
  border-top: 125px solid transparent;
  border-bottom: 125px solid transparent;
  border-right: 50px solid white;
  content: "";
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

#supportService .bg-list{
  background: url(../images/support.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5em 0 ;
}

.service .bg-list ul{
  background: rgba(15, 15, 15, 0.6);
  color: white;
  padding: .5em 3em;
  border-radius: .3em;
  text-align: left;
  margin: 0;
  font-size: 1.2em;
}

.bg-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(254, 254, 254, 0.3);
}

.carousel {
  box-shadow: 0 0 1em black;
}

.contact-button{
  background-color: #02a85c;
  color: white;
  padding: 1em 3em;
  border-radius: .2em;
  border-bottom: 3px solid #00d573;
}

.colorTextoUno{
  color: #8C8C8C;
}
.colorTextoDos{
  color: #4C4C4C;
}
.colorTextoTres{
  color: #000000;
}
.colorTextoCuatro{
  color: #5E5A59;
}
.colorTextoCinco{
  color: #fff;
}
.colorBackgroundUno{
  background-color: #8C8C8C;
}
.colorBackgroundDos{
  background-color: #4C4C4C;
}
.colorBackgroundTres{
  background-color: #000000;
}
.colorBackgroundCuatro{
  background-color: #5E5A59;
}
.colorBackgroundCinco{
  background-color: #fff;
}
.colorBackgroundNo{
  background-color: transparent;
}
.colorBorderUno{
  border: 1px solid #8C8C8C;
}
.colorBorderDos{
  border: 1px solid #4C4C4C;
}
.colorBorderTres{
  border: 1px solid #000000;
}
.colorBorderCuatro{
  border: 1px solid #5E5A59;
}
.colorBorderCinco{
  border: 1px solid #fff;
}

.logo{
  width: 256px;
  height: auto;
  margin-left: 20%;
  margin-top:-10px;
  transition: all .1s ease-in-out;
}
.navbar{
  height: 50px;
  font-size: 20px;
  background:transparent;
  border-color: transparent;
  transition: all .2s ease-in-out;
}
.navbar-header{
    height: 70px;
  }
.navbar-brand{
  color: white;
  font-size: 38px;
  font-weight: 600;
}

.navbar-brand:visited{
  color: white;
}

.navbar-brand:hover{
  color: white !important;
}

.textomenu{
  color: #000 !important;
}



.navbar-inner {
    background-color:transparent;
}
.titulos{

  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;

}

.titulo1{
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 5px black;
}

.titulo2{
  color: white;
  font-family: 'Open Sans';
  text-shadow: 1px 1px 5px black;
  line-height: 1.2em;
}

.slider-principal{
  font-weight: 800;
  margin-top: -200px;
}
.contenedor{
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.container-fluido{
  margin-left: 12%;
  margin-right: 12%;
}
#sliderr{
  width: 100%;
  height: 150px;
  background-image: url(../images/banner-tecnologias.jpg);
  background-size: 150% 100%;
  animation: sli 40s infinite linear;

}
@keyframes sli {
  to{
    background-position: 3600px;
  }
}

.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}


.nosotros-container .row{
  display: flex;
}

.nosotros-container .image-bg{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/logo2.jpg);
}

.nosotros-container .image-bg h2{
  color: white;
  font-size: 3em;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}


.services{
    margin: 20px auto;
    }
figure.snip1174 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: left;
  margin: 10px;
  width: 100%;
  border-radius: 0px;
}

.services-section{
  margin: 4em 0;
}

figure.snip1174 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1174 img {
  max-width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  vertical-align: top;
  opacity: 0.7;
}
figure.snip1174 figcaption {
  position: absolute;
  padding: 40px 25px;
  top: 0;
  left: 0;
}
figure.snip1174 h2,
figure.snip1174 p {
  margin: 0;
  padding: 0;
}
figure.snip1174 h2 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 100;
  font-size: 1.8em;
}
figure.snip1174 p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.4em;
}
figure.snip1174 a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
figure.snip1174 a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
figure.snip1174.blue {
  background-color: #20638f;
}
figure.snip1174.yellow {
  background-color: #c87f0a;
}
figure.snip1174.green {
  background-color: #1e8449;
}
figure.snip1174.navy {
  background-color: #222f3d;
}
figure.snip1174.red {
  background-color: #962d22;
}
figure.snip1174:hover img,
figure.snip1174.hover img {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.snip1174:hover a,
figure.snip1174.hover a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.nav.navbar-nav.navbar-left li a {
  color: blue !important;
}

.service{
  margin: 1em 0;
}

.service .description{
  display: flex;
  align-items: center;
}

.service .description h3{
    margin-top: 0;
}

.imagenes {
  width: 350px;
  height: auto;
    margin: 20px;
    border: 5px solid #eee;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.imagenes:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}

footer{
  background: rgb(42, 42, 42);
  padding-top: 2em;
  position: relative;
}

footer h6{
  color: #fff;
  font-size: 1em;
}

footer h4{
  color: #fff;
}

.footer-2{
  font-size: .9em;
  color: white;
  background-color:#1e1e1e;
  padding: 0.5em;
}
.copy-footer{
  color: #02a85c;

}
